<p id="notice"><%= notice %></p>

<p>
  <strong>Auther:</strong>
  <%= @comment.auther %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
